<% include _header %>

<h1>Registro</h1>

<form action="/signup" method="post">
    <div class="form-group">
        <input name="username" type="text" class="form-control"
        placeholder="Nombre de Usuario" required autofocus/>
    </div>
    <div class="form-group">
        <input name="password" type="password" class="form-control"
        placeholder="Contraseña" required/>
    </div>
    <p>Role</p>
    <select name="role">
        <option value="zombie">Zombie</option>
        <option value="zombie-king">Zombie-KONG</option>
        <option value="zombie-queen">Zombie-FEIKQUIN</option>
        <option value="zombie-boss">Armero D:</option>
    </select>
    <br>
    <br>
    <input type="submit" value="Registrarse" class="btn btn-primary btn-primary"/>
</form>

<% include _footer %>